/*********************************
* GLOBAL STYLES
**********************************/
@import url('https://fonts.googleapis.com/css?family=Pacifico');

section {
	padding: 3rem 0;
}

section:last-child {
	padding-bottom: 6rem;
}

.custom-panel {
	border: 1px solid #bbb;
	border-radius: 6px;
	padding: 2rem;
}

.custom-panel h2 {
	margin-top: 0;
}

.clear {
	clear: both;
}

.m-t-1 {
	margin-top: 1rem;
}


/*********************************
* OPTIONAL TIER
**********************************/

/*********************************
* ADVANCED TIER
**********************************/

/*********************************
* ADDITIONAL EXAMPLES
**********************************/
.box {
	box-sizing: border-box;
	height: 150px;
	width: 150px;
}

#dropbox {
	border: 8px solid;
	border-top-color: #999;
	border-left-color: #bbb;
	border-right-color: #111;
	background-color: #eee;
	-webkit-box-shadow:inset 3px 3px 10px 0 rgba(0,0,0,0.5);
	box-shadow:inset 3px 3px 10px 0 rgba(0,0,0,0.5);
	overflow: hidden;
	padding: 1rem;
}

.perms-title {
	margin-left: -1.5rem;
	border-bottom: 1px solid;
	padding-bottom: 1rem;
}

.highlight {
	background-color: yellow;
}

textarea {
	height: 200px;
	resize: none;
	margin-top: 0;
}

#scroll-magic {
	height: 100px;
	overflow-y: scroll;
}

/*********************************
* AJAX ASSIGNMENT
**********************************/